.App {
    text-align: center;
}


.App .content {
    padding: 20px 10px 400px;
}

.App .keys-div {
    margin-bottom: 20px;
}


.keys {
    margin-top: 45px;
}

.keys textarea.key {
    width: 600px;
    height: 80px;
    font-size: 80%;
    border: solid 1px #ccc;
    border-radius: 5px;
}

.keys div.key {
    font-size: 80%;
    border: solid 1px #ccc;
    border-radius: 5px;
    display: inline-block;
    white-space: pre;
    margin-bottom: 10px;
    text-align: initial;
}
