.App {
    text-align: center;
}

.App header {
    background-color: black;
    height: 60px;
    vertical-align: middle;
    text-align: left;
    padding: 0px 20px;
}

.App header h2, .App header h1 {
    margin: 0px;
    color: white;
    font-variant-caps: small-caps;
    font-family: serif;
    display: inline-block;
    line-height: 60px;
}

.App header h1 {
    width: 100%;
    text-align: center;
    position: absolute;
    left: 0px;
    top: 0px;
}

.App .content {
    padding: 20px 10px 400px;
}

.App .keys-div {
    margin-bottom: 20px;
}


.keys {
    margin-top: 45px;
}

.keys textarea.key {
    width: 600px;
    height: 80px;
    font-size: 80%;
    border: solid 1px #ccc;
    border-radius: 5px;
}

.keys div.key {
    font-size: 80%;
    border: solid 1px #ccc;
    border-radius: 5px;
    display: inline-block;
    white-space: pre;
    margin-bottom: 10px;
    text-align: initial;
}
